// ui Kit

// dark mode: 

// bakcground: 
$uiKit-background: #000;
$colorLinearGradientContactMeBody: linear-gradient(0deg, #000000 8.81%, rgba(196, 196, 196, 0) 31.87%);
// letters color:
$uiKit-fontColor: #fff;