<footer *ngIf="footerData" class="footer">
    <section class="footer_about">
        <ng-container *ngIf="footerData.socialmedia">
            <socialmedia 
                [socialMediaStaticProps]="footerData.socialmedia.link">
            </socialmedia>
        </ng-container>
        <ng-container *ngIf="footerData.newsletter">
            <newsletter 
                [newsLetterStaticProps]="footerData.newsletter">
            </newsletter>
        </ng-container>
    </section>
    <section class="footer_nav" *ngIf="navigationRoutes">
        <menu-nav-list 
            [navigationRoutes]="navigationRoutes">
        </menu-nav-list>
    </section>
    <section class="footer_copyrigth" *ngIf="footerData.copyright" >
        <copyright 
            [copyrightStaticProps]="footerData.copyright">
        </copyright>
    </section>
</footer>