
$parentSize: 16px;

@mixin container-wrap() {
    max-width: $gl-max-width;
    width: 100vw;
    min-width: calculateRem(320px);
    padding-right: calculateRem($gl-gutter-sides);
    padding-left: calculateRem($gl-gutter-sides);
    margin-right: auto;
    margin-left: auto;

    @media #{$gl-gutter-sides-breakpoint} {
        padding-left: calculateRem($gl-gutter-sides-desktop);
        padding-right: calculateRem($gl-gutter-sides-desktop);
    }
}



@function calculateRem($size) {
    // @if unitless($size) { TODO: validate unit calculateRem function
    // 	@warn 'Assuming value `#{$size}` to be in pixels; attempting to convert it.';
    // 	$size: $size * 1px;
    // }

    $remSize: $size / $parentSize;
    @return #{$remSize}rem;
}

@mixin font-size($size) {
    font-size: calculateRem($size);
}

@mixin centerContent() {
    display: flex;
    flex-direction: column;
    align-items: center;
}